<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cellType">
      <h2 data-cy="cellTypeDetailsHeading"><span jhiTranslate="jhipsterApp.cellType.detail.title">Cell Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cellType.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.cellType.cellSourceInfo">Cell Source Info</span></dt>
        <dd>
          <span>{{ cellType.cellSourceInfo }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.cellType.cellArchitecture">Cell Architecture</span></dt>
        <dd>
          <span>{{ cellType.cellArchitecture }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.cellType.vendor">Vendor</span></dt>
        <dd>
          <span>{{ cellType.vendor }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.cellType.cellModel">Cell Model</span></dt>
        <dd>
          <div *ngIf="cellType.cellModel">
            <a [routerLink]="['/cell-model-cosmos', cellType.cellModel.id, 'view']">{{ cellType.cellModel.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cell-type-cosmos', cellType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
